.field {

	& + & {
		margin-top: ms(3);
	}

	&__label {
		@include lede;
	}

	&__value {
		// size
		margin-top: ms(-6);
		line-height: 1.4;
	}
}


.field-toggle {

	label + label {
		margin-top: ms(2);
	}

	> label {
		display: block;
		position: relative;
		cursor: pointer;


		> input {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;

			&:checked + .field {
				border-color: color(green, 1);
			}
		}

		.field {
			position: relative;
			border: ms(-5) solid color(grey, 2);
			padding: ms(0);
		}


	}
}


.bull-list {
	// size?
	letter-spacing: 0.5em;
	padding-top: ms(-2);

	&:after {
		content: '••••••••'
	}
}
